

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://github.com/RoyalWeden/Vaccine-Spotter-And-Passport" class="nav-link">
                Project VSAP
              </a>
            </li>
          </ul>
          <div class="copyright">
            <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://jamhacks.ca/">Jamhacks V</a> 
          </div>
        </div>
      </footer>
      
